@import url("https://fonts.googleapis.com/css?family=Roboto|Staatliches|Thasadith");
@import url("reset.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
  display: flex;

  flex-direction: column;
  min-height: 100vh;
  font-family: Thasadith;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* Header Styles */

header {
  background-color: blue;
  display: flex;
  align-items: center;
  height: 5em;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.menu > li > a {
  font-size: 1.2em;
  font-family: Roboto;
}

.branding {
  background-color: lightblue;
  height: 2em;
}

.logo {
  width: 6em;
  height: 3em;
}

.nav {
  flex: 1;
  padding: 1em;
  background-color: yellow;
  width: 60%;
}

/* Card Styles */
.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  padding: 2.5em;
  width: 31.33333%;
  margin: 1%;
  border: 1px solid #eee;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transition: 0.3s ease-out;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 1);
  /* horizontal offset | vertical offset | blur | size */
  transform: translateY(-2px) scale(1.005);
}

.pullquote {
  flex: 1;
  line-height: 1.3;
  font-size: 1.3em;
}

.card-header {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}

.social-icons {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

.card-footer > button {
  width: 100%;
  height: 2em;
  border-radius: 0.2em;
  font-size: 1em;
  background-color: lightgrey;
}

/* Footer styles */
.footer {
  background-color: pink;
  height: 5em;
}

/* Mobile styles */
@media (min-width: 600px) and (max-width: 800px) {
  .card {
    width: 48%;
  }
}

@media (max-width: 600px) {
  header {
    display: block;
  }
  .menu {
    display: block;
  }
  .nav {
    width: auto;
  }
  .card {
    width: 100%;
  }
  .main {
    margin-top: 4.5em;
    flex-direction: column;
  }
}
